SMSPOH_API_KEY=your_smspoh_api_key
SMSPOH_API_SECRET=your_smspoh_api_secret
SMSPOH_SEND_URL=https://v3.smspoh.com/api/rest/send
SMSPOH_SENDER_ID=SMSPohTest
BRAND_NAME=YourApp

OTP_LENGTH=6
SESSION_TTL_SECONDS=600
MAX_SUBMIT_ATTEMPTS=5
MAX_SEND_PER_HOUR=5
